.wrap {
    width: 570px;
    margin-bottom: 20px;
}

.large-wrap {
    width: 1170px;
}

.warning {
    display: flex;
    position: relative;
    padding-left: 49px;
    border: 1px solid $color-3;
    border-radius: 10px;

    &::before {
        content: '\f12a';
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-top: 42px;
        margin-right: 28px;
        border: 7px solid $color-1;
        border-radius: 50%;
        background-color: $color-2;
        color: $color-4;
        font-family: 'FontAwesome', sans-serif;
        font-size: 24px;
    }

    div {
        margin-top: 38px;
        padding-right: 70px;
        padding-bottom: 34px;

        h1 {
            margin-bottom: 11px;
            color: $color-5;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.4px;
        }

        p {
            color: $color-6;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            line-height: 24px;
        }
    }

    a {
        position: absolute;
        top: 18px;
        right: 19px;
        text-decoration: none;

        &::before {
            content: '\f00d';
            color: $color-7;
            font-family: 'FontAwesome', sans-serif;
            font-size: 14px;
        }
    }

    &.accepted {

        &::before {
            content: '\f00c';
            border: 7px solid $color-9;
            background-color: $color-8;
            color: $color-10;
        }
    }

    &.error {

        &::before {
            content: '\f00d';
            border: 7px solid $color-12;
            background-color: $color-11;
            color: $color-13;
        }
    }

    &.power {

        &::before {
            content: '\f0e7';
            border: 7px solid $color-15;
            background-color: $color-14;
            color: $color-16;
        }
    }

    &.note {

        &::before {
            content: '\f129';
            border: 7px solid $color-18;
            background-color: $color-17;
            color: $color-19;
        }

        div {
            margin-top: 38px;
            padding-right: 43px;
        }

        &.solid {
            background-color: $color-17;
        }
    }

    &.solid {
        background-color: $color-2;

        h1 {
            color: $color-5;
        }

        p {
            color: $color-5;
        }

        a::before {
            color: $color-4;
        }

        &.accepted {
            background-color: $color-8;

            h1 {
                color: $color-5;
            }

            p {
                color: $color-5;
            }

            a::before {
                color: $color-10;
            }
        }

        &.error {
            background-color: $color-11;

            h1 {
                color: $color-5;
            }

            p {
                color: $color-5;
            }

            a::before {
                color: $color-13;
            }
        }

        &.power {
            background-color: $color-14;

            h1 {
                color: $color-5;
            }

            p {
                color: $color-5;
            }

            a::before {
                color: $color-16;
            }
        }

        &.note {
            background-color: $color-17;

            h1 {
                color: $color-5;
            }

            p {
                color: $color-5;
            }

            a::before {
                color: $color-19;
            }
        }
    }
}
